    body{
        background-color: #edeceb;
        font-family: "Newsreader", serif;
        font-weight: 500;
        margin-bottom: 40px;
    }

    .header{
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #ccc;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        margin-top: 3%;
        margin-left: 20%;
        margin-right: 20%;
    }
    .budgets{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 50px;
        gap: 20px;
        justify-content: center;
    }
    .Logo{
        height: 40px;
        width: 40px;
    }
    .budgetsText{
        padding-top: 8px;
        font-size: 30px;

        letter-spacing: 2px; 
    }
    .link{
        text-decoration: none;
        background-color: #8f53dd;
        color: white;
        font-size: 14px;
        padding: 12px 14px;
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
    }
    .nav-links{
        padding-right: 50px;
        gap: 10px;
        display: flex;
        flex-direction: row;
        font-size: 20px;
        transition: all 0.3s;
    }
    .link:hover {
        background-color: #a676e5;
        transform: translateY(-3px);
        box-shadow: 0 6px 10px rgba(0,0,0,0.15);
    }
    .body{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .titleBox{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .title{
        font-size: 40px;
    }
    .smallerTitle{
        font-size: 26px;
        color: #9e9e9b;
    }
    .bodyImage{
        height: 500px;
        width: 500px;  
        border-radius: 12px;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }
    .underTitle{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 26px;
        gap: 50px;
    }
    .underTitle2{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 26px;
        gap: 50px;
    }
    .list{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        font-size: 24px;
        padding: 40px;
        background-color: #ffffff;
        border: 1px solid #ccc;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
    }
    .btn1{
        padding-right: 50px;
        gap: 10px;
        display: flex;
        flex-direction: row;
        font-size: 14px;
        padding: 12px 14px;
        transition: all 0.3s;
        text-decoration: none;
        background-color: #8f53dd;
        color: white;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
    }
    .btn2{
        padding-right: 50px;
        gap: 10px;
        display: flex;
        flex-direction: row;
        font-size: 14px;
        padding: 12px 14px;
        transition: all 0.3s;
        text-decoration: none;
        background-color: #ffffff;
        color: #8f53dd;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        border: 1px solid #8f53dd;
        border-radius: 20px;
    }
    .btn1:hover {
        background-color: #a676e5;
        transform: translateY(-3px);
        box-shadow: 0 6px 10px rgba(0,0,0,0.15);
    }
    .btn2:hover {
        background-color: #f2d4ff;
        transform: translateY(-3px);
        box-shadow: 0 6px 10px rgba(0,0,0,0.15);
    }
    .buttons{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }
    footer {
    position: fixed;
    justify-content: space-between;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #8f53dd;
    color: white;
    border-color: #d0bdd3;
    border-width: 4px;
    border-top-style: solid;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    align-items: center;
}
.footerText {
    padding-right: 10px;
    display: flex;
    gap: 50px;
    flex-direction: row;
    padding-left: 40px;
    align-items: center;
    justify-content: space-between;
}
.Links{
    display: flex;
    flex-direction: row;
    padding-right: 40px;
    gap: 40px;
}
.footerText a{
    text-decoration: none;
    color: white;
}
.footerText a:hover{
    color: #e46e0e;
    text-decoration: underline;
}
.highlight{
    color: #6667ab;
    font-weight: 800;
    text-shadow: 2px 2px 3px black;
} 
.highlight2{
    color: #6667ab;
}
.subtitles{
    color: #d7d70d;
}